<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Movie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    
    <a href="/">Home</a>

    <form method="post">
        <lable>Movie Title<input type="text" name="movieTitle" /></lable>
        <lable>Maturity Rating<input type="text" name="maturityRating" /></lable>
        <lable>Genre<input type="text" name="genre" /></lable>
        <input type="submit" value="Submit" />


    </form>
</body>
</html>