<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vote for Best Movie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <a href="/">Home</a>
    <a href="/bestMovie">Best Movie</a>

    <form action="voteForBestMovie" method="GET">
        <p>Your Name: <input type="text" name="name" /></p>
        <select name="movie_id">
            <option value="0">Select a movie</option>
            <option th:each="movie: ${movies}" th:value="${movie.id}" th:text="${movie.title}"></option>
        </select>
        <p><input type="submit" value="Submit" /></p>
    </form>

    <!-- <p th:text="'Your favorite movie is: ' + ${BestMovieVote} "/> -->

    <p th:text=" *{BestMovieVote != null}? 'Your Favorite Movie is ' + *{BestMovieVote}: '' "/>
</body>
</html>